.cardm{
  height: 221px;
padding: 0;
z-index: -10;
}
.infoo::before,
.infoo::after {
  content: "";
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 0.5rem;
  z-index: 1;
  height: 350px;
}
.infoo::before {
  background-color: rgba(0, 0, 0, 0.66);
clip-path: polygon(0 62%, 100% 100%, 100% 45%);
  mix-blend-mode: overlay;
  height: 442px;
}
.infoo::after {
  background-color:
#393a3d;
opacity: 0.7;
clip-path: polygon(100% 100%, 100% 61%, 39% 72%);
height: 442px;
}
.infoo{
  background-size: cover;
  background-position: center;
  height: 295px;
  z-index: -10;
  clip-path: polygon(0% 0%, 0 63%, 100% 100%, 100% 0%);
}
